<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <link rel="icon" type="image/png" href="/PARTS3.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>PdM PARTS 3.0 on Render!</title>

     ...
</html>